Server/obj/
Server/bin/
Client/obj/
Client/bin/
PluginMath/obj/
PluginMath/bin/
PluginNav/obj/
PluginNav/bin/
PluginPsych/obj/
PluginPsych/bin/
TestsNunit/TextParserTest/obj/
TestsNunit/TextParsertest/bin/
TestsNunit/PluginManagerTest/obj/
TestsNunit/PluginManagerTest/bin/
TestsNunit/PluginNavTest/obj/
TestsNunit/PluginNavTest/bin/
TestsNunit/PluginPsychTest/obj/
TestsNunit/PluginPsychTest/bin/
Interface/obj/
Interface/bin/